html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  padding-top: 5px;
  padding-bottom: 10px;
  width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  margin-right: -4px;
  display: inline-block;
}

.col-15 {
  width: 100%;
}

.col-14 {
  width: 93.33338%;
}

.col-13 {
  width: 86.66671%;
}

.col-12 {
  width: 80.00004%;
}

.col-11 {
  width: 73.33337%;
}

.col-10 {
  width: 66.6667%;
}

.col-9 {
  width: 60.00003%;
}

.col-8 {
  width: 53.33336%;
}

.col-7 {
  width: 46.66669%;
}

.col-6 {
  width: 40.00002%;
}

.col-5 {
  width: 33.33335%;
}

.col-4 {
  width: 26.66668%;
}

.col-3 {
  width: 20.00001%;
}

.col-2 {
  width: 13.33334%;
}

.col-1 {
  width: 6.66667%;
}
