.container {  
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  padding: 10px;
  max-width: 100%;
  content-align: left;
}  

.col-12 { 
  width: 100%;
  display: inline-flex;
} 

.col-11 { 
  width: 91.66666667%;
  display: inline-flex;
} 

.col-10 { 
  width: 83.33333333%;
  display: inline-flex;
} 

.col-9 { 
  width: 75%;
  display: inline-flex;
}
 
.col-8 { 
  width: 66.66666667%;
  display: inline-flex;
} 

.col-7 { 
  width: 58.33333333%;
  display: inline-flex;
}

.col-6 { 
  width: 50%;
  display: inline-flex;
} 

.col-5 { 
  width: 41.66666667%;
  display: inline-flex;
} 

.col-4 { 
  width: 33.33333333%; 
  display: inline-flex;
} 

.col-3 { 
  width: 25%;
  display: inline-flex; 
} 

.col-2 { 
  width: 16.66666667%;
  display: inline-flex; 
} 

.col-1 { 
  width: 8.33333333%;
  display: inline-flex;
}
