.container {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  padding: 10px;
  max-width: 100%;
}

.col-1 {
  width: 8%;
  display: inline-flex;
}

.col-2 {
  width: 16%;
  display: inline-flex;
}

.col-3 {
  width: 25%;
  display: inline-flex;
}

.col-4 {
  width: 33%;
  display: inline-flex;
}

.col-5 {
  width: 42%;
  display: inline-flex;
}

.col-6 {
  width: 49.5%;
  display: inline-flex;
}

.col-7 {
  width: 58%;
  display: inline-flex;
}

.col-8 {
  width: 66%;
  display: inline-flex;
}

.col-9 {
  width: 75%;
  display: inline-flex;
}

.col-10 {
  width: 83%;
  display: inline-flex;
}

.col-11 {
  width: 92%;
  display: inline-flex;
}

.col-12 {
  width: 99.5%;
  display: inline-flex;
}
