html {
  text-align: center;
}

*, *:before, *:after {
  text-align: inherit;
}

.header {
  font-size: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.footer {
  font-size: 1.45em;
  bottom: 0px;
  left: 0px;
}

.content-container {
  font-size: 1.25em;
}
