html {
  text-align: center;
  vertical-align: middle;

}

*, *:before, *:after {
  text-align: inherit;
  vertical-align: inherit;
}

body {
  background-color: lightblue;
}

.header {
  /*border: solid 2px black;*/
  display: none;
  max-height: 55px;
  vertical-align: text-top;
  background-color: gray;
  position: fixed;
  top: 0px;
  left: 0px;
  float: left;
}

.header-scroll {
  min-height: 55px;

}

.header-text {
  margin-top: 5px;
  font-variant: small-caps;
  font-size: 24px;
  float: right;
  margin-right: 40px;
}

.footer {
  font-size: 22px;
  bottom: 0px;
  left: 0px;
}

.content-container {
  font-size: 16px;
}

.icon {
  height: 26px;
  float: left;
  padding-left: 10px;
  margin-top: 10px;
}
